root = true

# TODO: Fix warnings in the generated payjoin C# bindings so these suppressions can be removed.
[rust-payjoin/payjoin-ffi/csharp/src/payjoin.cs]
dotnet_diagnostic.CS0108.severity = none
dotnet_diagnostic.CA5392.severity = none
dotnet_diagnostic.CS0659.severity = none
