[submodule "btcpayserver"]
	path = btcpayserver
	url = https://github.com/ValeraFinebits/btcpayserver
[submodule "rust-payjoin"]
	path = rust-payjoin
	url = https://github.com/payjoin/rust-payjoin.git
	branch = master
