@using BTCPayServer.Abstractions.Constants
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Abstractions.Models
@using BTCPayServer.Abstractions.TagHelpers
@using BTCPayServer.Client
@model BTCPayServer.Components.MainNav.MainNavViewModel

@if (ViewData.IsCategory(WellKnownCategories.Store))
{
    <li class="nav-item nav-item-sub" permission="@Policies.CanViewStoreSettings">
        <a asp-area="" asp-controller="UIStorePayjoin" asp-action="Settings" asp-route-storeId="@Model.Store?.Id" layout-menu-item="Payjoin" text-translate="true">Async Payjoin</a>
    </li>
}
